PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/auth_db?schema=public"
JWT_ACCESS_SECRET="your-secret-access-key"
JWT_REFRESH_SECRET="your-secret-refresh-key"
REDIS_URL="redis://localhost:6379"
